* {
  box-sizing: border-box;
}

html {
  font-family: 'PT Sans Narrow','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic Medium','メイリオ', Meiryo, sans-serif;  
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}




input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body, html, main {
    height: 100%;
}



body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

main{
  position: absolute;
  top: 4vw;
  width: 100%;
}




.container {
  max-width: 100%;
}



/* !!!!index!!!!! ================================ */
/* ヘッダー ================================ */
header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  position:fixed;
  top:0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
}

@media(max-width: 1000px){
  header {
    height: 10vw;
  }
}

.header-item{
  font-size: 4vw;
  line-height: 1;
  font-weight: bold;
  margin-left: 7vw;
  margin-right: 7vw;
  position: relative;
  display:block;
  background: white;
}

@media(max-width: 1000px){
  .header-item{
    font-size: 10vw;
    margin-left: 0;
    margin-right: 0;
  }
}

.header-item-top{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
}

.header-item-top-hide{
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: black;
  color: white;
  margin-left: 0vw;
  margin-right: 0vw;
}

.headers-item-top-hide{
  text-align: left;
  width: 100%;
  padding-left: 12%;
}


/* main全体 ================================ */

.fixed {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}


.wrapper{
  width: 100%;
  height: auto;
  display: flex;
}

@media(max-width: 1000px){
  .wrapper{
    display: flex;
    flex-direction: column;
  }
}

.wrapper-left{
  width: 50%;
  height: auto;
  float: left;
  position:relative;
}

@media(max-width: 1000px){
  .wrapper-left{
    width: 100%;
    float: none;
  }
}

.wrapper-right{
  width: 50%;
  height: auto;
  float: right;
  position:relative;
  text-align: center;
}

@media(max-width: 1000px){
  .wrapper-right{
    width: 100%;
    float: none;
  }
}





.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  font-weight: bold;
}


.buttons a{
  color: white;
  text-align: center;
  line-height: 2;
  width:180px;
  height: 80px;
  border-radius: 10px;
}






/* fix1枚目 ================================ */
.fixed.fixed-1{
    background-image: url("hero/Q2cu4Pm.jpg");
}


.title h1{
  font-size: 16vw;
  color: white;
  line-height: 1;
  mix-blend-mode: overlay;
  text-align: center;
}

@media(max-width: 1000px){
  .title h1{
    font-size: 32vw;
    padding-top: 20%;
  }
}


/* スクロールボタン ================================ */
.fixed a {
  position: absolute;
  bottom: 20px;
  left: 47%;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
  color: white;
  font-size: 30px;
}

@media(max-width: 1000px){
  .fixed a{
    padding-top: 120px;
    font-size: 60px;
    left: 43%;
  }
}

.fixed a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

@media(max-width: 1000px){
  .fixed a span{
    width: 92px;
    height: 92px;
    margin-left: -46px;
    border: 6px solid #fff;
  }
}

.fixed a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@media(max-width: 1000px){
  .fixed a span::after{
    width: 32px;
    height: 32px;
    margin: -24px 0 0 -16px;
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
  }
}

.fixed a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}

@media(max-width: 1000px){
  .fixed a span::before{
    width: 88px;
    height: 88px;
  }
}




@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* scroll1枚目 ================================ */
.scroll.scroll-1{
    position:relative;
}

.name{
  background: white;
  width: 100%;
  top: 0px;
}

.name h1{
  color: black;
  font-size: 4vw;
  text-align: right;
}

.wrapper-left img{
  width:70%;
  height: auto;
  position: absolute;
  top: 50px;
  right: 15%;
}

@media(max-width: 1000px){
  .wrapper-left img{
    width: 60%;
    position: relative;
    right:0%;
    left: 20%;
  }
}


.wrapper-right h2{
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}

@media(max-width: 1000px){
  .wrapper-right h2{
    font-size: 5vw;
  }
}

.wrapper-right h1{
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

@media(max-width: 1000px){
  .wrapper-right h1{
    font-size: 7vw;
  }
}

@media(max-width: 1000px){
  .name h1{
    font-size: 10vw;
  }
}



.button-photo{
  background-color: #212E58;
}
.button-portfolio{
  background-color: #7C0001;
}
.button-blog{
  background-color: #39B697;
}


.sns a{
  display: block;

  text-align: center;
}

.username{
  font-size: 25px;
}

@media(max-width: 1000px){
  .username{
    font-size: 6vw;
  }
}

.fa-instagram{
  margin-right: 10px;
}
.fa-facebook-f{
  margin-right: 18px;
}
.fa-twitter{
  margin-right: 7px;
}




/* fix2枚目 ================================ */
.fixed.fixed-2{
    background-image: url("hero/s8rbOe9.jpg");
    position:relative;
}

@media(max-width: 1000px){
  .fixed.fixed-2{
      background-image: url("https://skakeru.github.io/kakeru_suzuki/23-b.JPG");
  }
}


.subtitle{
  background: white;
  position: absolute;
  top: 100px;
  right: 0px;
  float: right;
}

.subtitle h1{
  font-size: 8vw;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0.8;
  text-align: right;
}

@media(max-width: 1000px){
  .subtitle h1{
      font-size: 20vw;
  }
}



/* scroll2枚目 ================================ */
.scroll.scroll-2{
    position:relative;
}

.scroll-2 h1{
  font-size: 3vw;
  text-align: center;
  margin-top: 20px;
}

@media(max-width: 1000px){
  .scroll-2 h1{
      font-size: 6vw;
  }
}

@media(max-width: 1000px){
  .for-pc{
    display: none;
  }
}

@media(max-width: 1000px){
  .for-sp{
    display: block;
  }
}
.height-1200{
    display: none;
}

@media(max-width: 1000px){
  .height-700{
    display: none;
  }
}


@media(max-width: 1000px){
  .height-1200{
    display: block;
  }
}


.arrow{
  height: 3vw;
  padding-top: 15px;
}

.fa-arrow-up{
  font-size: 3vw;
  padding-left: 49%;
}

.scroll-2 h2{
  font-size: 3vw;
  text-align: center;
}

@media(max-width: 1000px){
  .scroll-2 h2{
    font-size: 5vw;
    text-align: center;
  }
}


/* fix3枚目 ================================ */
.fixed.fixed-3{
    background-image: url("hero/EupaTNW.jpg");
    position:relative;
}


.subtitle{
  background: white;
  position: absolute;
  top: 100px;
  right: 0px;
  float: right;
}




/* scroll3枚目 ================================ */
.scroll.scroll-3{
    position:relative;
}

.keywords-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh; /*列が増えたらここを直す*/
}

@media(max-width: 1000px){
  .keywords-photo{
      display: flex;
      flex-direction: column;
      height: 100vh; /*列が増えたらここを直す*/
  }
}

.keywords-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}

@media(max-width: 1000px){
  .keywords-portfolio{
      display: flex;
      flex-direction: column;
      height: auto;
  }
}

.keyword{
  width: 26%;
  margin-top: 50px;
  height: auto;
  float: left;
  position:relative;
  text-align: center;
}

@media(max-width: 1000px){
  .keyword{
      margin: 0 auto;
      width:50%;
      margin-top: 5%;
      margin-bottom: 5%;
  }
}


.keyword img{
  width: 100%;
  margin-bottom: 20px;
}

.keyword h4{
  font-weight: normal;
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
  position:relative;
}

.keyword a{
  color: white;
  line-height: 2;
  border-radius: 10px;
  font-size: 100%;
  font-weight: bold;
  background-color: #212E58;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

@media(max-width: 1000px){
  .keyword a{
     font-size: 25px;
  }
}




.keyword-portfolio-1 a{
  background-color: #7C0001;
}

.keyword-portfolio-2 a{
  background-color: #7C0001;
}

.hover-contents{
  display: none;
  letter-spacing: 0px;
}

.hover-active{
  display: block;
}

/* フッター ================================ */
.footer {
  text-align: center;
  padding: 40px 0;
  color: black;
  background-color: white;
}

.footer h3{
  margin-bottom: 10px;
  font-size: 30px;
}

@media(max-width: 1000px){
  .footer h3{
    font-size: 5vw;
  }
}

.copyright{
  margin-top: 10px;
}


.social-icon{
  font-size: 36px;
  margin-bottom: 20px;

}

@media(max-width: 1000px){
  .social-icon{
    font-size: 8vw;
  }
}

#facebook-icon{
  margin-left: 10px;
}


/* !!!!!photo!!!!!! ================================ */

/* header ================================ */
.header-photo{
  background: #273464;
}

.header-item-photo{
  background: #273464;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.header-item-photo-hide{
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: white;
  color: #273464;
  margin-left: 0vw;
  margin-right: 0vw;
}

.headers-item-photo-hide{
  text-align: left;
  width: 100%;
  padding-left: 41%;
}

.headers-item-photo-hide a{
  font-size: 2vw;
  padding-top: 1%;
}

/* fix1枚目 ================================ */
.fixed-1-photo{
  background-image: url("memories-black.jpg");

}

.title-photo h1{
  mix-blend-mode: luminosity;
  opacity: 0.7;
}



/* スクロールボタン ================================ */
.fixed.fixed-1-photo a {
  position: absolute;
  bottom: 20px;
  left: 47%;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
  color: white;
  font-size: 30px;
}

.fixed.fixed-1-photo a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.fixed.fixed-1-photo a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.fixed.fixed-1-photo a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* fix2枚目 ================================ */
.fixed-2-photo{
  background-image: url("hero/3gpV3AT.jpg");
  position:relative;
}

.subtitle.subtitle-photo{
  background: #273464;
}

.subtitle.subtitle-photo h1{
  line-height: 1.2;
  color: white;
  font-size: 5vw;
  padding-top: 10px;
}

/* fix3枚目 ================================ */
.fixed-3-photo{
  background-image: url("hero/3Syuqnv.jpg");
  position:relative;
}

/* fix4枚目 ================================ */
.fixed-4-photo{
  background-image: url("hero/EupaTNW.jpg");
  position:relative;
}



/* scroll2枚目 ================================ */
.scroll-2-photo {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  margin: auto;
  width: 90%;
}

.grid{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(4,minmax(120px,1fr));
}

.grid img{
  width: 100%;
}

.picture{
  overflow: hidden;
}

.picture img{
	display: block;
	transition-duration: 0.3s;	
}

.picture img:hover{
  transform: scale(1.1);	
	transition-duration: 0.3s;	
}

.big-box{
  grid-column: 1/3;
  grid-row: 1/3;
}

.big-box-2{
  grid-column: 2/4;
  grid-row: 3/5;
}

.big-box-3{
  grid-column: 3/5;
  grid-row: 5/7;
}

.big-box-4{
  grid-column: 1/3;
  grid-row: 7/9;
}

.big-box-5{
  grid-column: 2/4;
  grid-row: 9/11;
}

.big-box-6{
  grid-column: 3/5;
  grid-row: 11/13;
}

.big-box-7{
  grid-column: 1/3;
  grid-row: 13/15;
}

.big-box-8{
  grid-column: 2/4;
  grid-row: 15/17;
}
.big-box-9{
  grid-column: 3/5;
  grid-row: 17/19;
}

.slick-slide img{
  width: 100%;
}

.scroll-3-photo {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 2em;
  margin: auto;
}

.scroll-4-photo {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 2em;
  margin: auto;
}



/* !!!!!portfolio!!!!!! ================================ */

/* header ================================ */
.header-portfolio{
  background: #7C0001;
}

.header-item-portfolio{
  background: #7C0001;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-item-portfolio-hide{
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: white;
  color: #7C0001;
  margin-left: 0vw;
  margin-right: 0vw;
}

.headers-item-portfolio-hide{
  text-align: left;
  width: 100%;
  padding-left: 75%;
}

.headers-item-portfolio-hide a{
  font-size: 3vw;
  padding-top: 2%;
}

/* fix1枚目 ================================ */
.fixed-1-portfolio{
  background-image: url("hero/w5JawBO.jpg");

}

.title-portfolio h1{
  mix-blend-mode: luminosity;
  opacity: 0.7;
  color: white;
}

/* fix2枚目 ================================ */
.fixed-2-portfolio{
  background-image: url("hero/6yIVjyV.jpg");
  position:relative;
}


/* scroll2枚目 ================================ */
.scroll-2-portfolio{
  position: relative;
  height: 100%;;
  min-height: none;
}

.subtitle-left{
  background: #7C0001;
  position: absolute;
  top: 100px;
  left: 0px;
  float: left;
}

.subtitle-left h1{
  font-size: 8vw;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0.9;
  text-align: left;
  color: white;
}



.wrapper-portfolio{
  position: absolute;
  top:300px;
}

.container-for-works{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  position: relative;
  text-align: center;
}

.item img{
  width: 58%;
  position: relative;
  top: auto;
  right: auto;
}

.item-pc img{
  width: 70%;
  position: relative;
  top: auto;
  right: auto;
  text-align: center;
  margin-top: 40px;
}


.work-title{
  background: #7C0001;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.work-title h1{
  font-family: 'Hiragino Sans';
  font-size: 3vw;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
}

.work-descriptions{
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 50px;
  font-size: 1vw;
}

.work-descriptions h2{
  text-align: left;
}

.button-to-work{
  color: white;
  line-height: 2;
  border-radius: 10px;
  font-family: 'Hiragino Sans';
  font-size: 2vw;
  font-weight: bold;
  color: black;
  background-color: white;
  border: solid;
  border-color: #7C0001;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;

}

/* scroll3枚目 ================================ */
.scroll-3-portfolio{
  position: relative;
  height: 100%;
  margin-bottom: 20%;
}


/* scroll4枚目 ================================ */
.scroll-4-portfolio{
  position: relative;
  height: 100%;

}

.keywords-portfolio-for-design{
  padding-top: 25%;
}


/* scroll5枚目 ================================ */
.scroll-5-portfolio{
  position: relative;
  height: 100%;
}

/* scroll6枚目 ================================ */
.scroll-6-portfolio{
  position: relative;
  height: 100%;
}

/* scroll7枚目 ================================ */
.scroll-7-portfolio{
  position: relative;
  height: 100%;
}

.item-sp-lp{
  width: 20%;
}
.item-sp-lp img{
  width: 90%;
}


/* scroll8枚目 ================================ */
.scroll-8-portfolio{
  position: relative;
  height: 100%;
}

.item-pc-lp{
  width: 30%;
}

.item-pc-lp img{
  width: 90%;
}

.item-pc-lp-top{
  width: 90%;
}

.item-pc-lp-top img{
  width: 90%;
}

/* scroll9枚目 ================================ */
.scroll-9-portfolio{
  position: relative;
  height: 100%;
  margin-bottom: 30%;
}

/* scroll10枚目 ================================ */
.scroll-10-portfolio{
  position: relative;
  height: 100%;
  min-height: 50%;
}

.item-logo{
  width: 50%;
  margin-top: 5%;
}

.item-logo-big{
  width: 70%;
}

.item-logo img{
  width: 90%;
}

/* scroll11枚目 ================================ */
.scroll-11-portfolio{
  position: relative;
  height: 100%;
}

/* scroll2枚目 ================================ */
.scroll-12-portfolio{
  position: relative;
  height: 100%;
}
